<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  configfailurepolicy="continue">
  <test thread-count="5" name="Test">
   <groups>																																																	
  <run>

  <!-- Janaki's group--> 
   <!--  <include name="Janaki1"/>  -->
   <!--  <include name="Brahmith"/> 
     <include name="Janaki_EOD_set11"/> 
      <include name="Janaki"/> 
    <include name="Anoop"/>  -->
    <include name="Ratikanta_ILP"/> 
    
  <!--  <include name="Janaki_EOD_set2"/>  -->
   <!-- <include name="janaki_Refinance_StUp"/> -->
  
   <!-- Brahmith group--> 
<!-- <include name="Brahmith"/>   -->



   <!-- Anoop group-->  
  <!--   <include name="Anoop"/>   -->
    <!--  <include name="Anoop_stDown"/>-->
    <!--  <include name="Anoop_StdownVoid"/> -->

  <!-- Ratikanta group-->  

  <!-- <include name="Ratikanta_ILP"/> -->



  <!-- Jyothi group-->

<!--   <include name="Jyothi"/> -->




  </run>
  </groups>
   <classes>
      <class name="tests.QCStore"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
